In [8]:
import sqlite3

conexao = sqlite3.connect('C:/Users\maria/Documents/Curso Python/Ultima School/Banco de dados/M2S3.sqlite3')
cursor = conexao.cursor()

sql = '''
CREATE TABLE Fornecedor(
    id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    nome TEXT(50) NOT NULL ,
    endereco TEXT(50) NOT NULL,
    produto TEXT(50) NOT NULL
)
''' 
sql1 = '''
INSERT INTO Fornecedor (nome,endereco,produto)
    VALUES ('Empresa de Leite Parmaleite','Rua dos leites, 23','Leite')
   
'''
sql2 = '''
INSERT INTO Fornecedor (nome,endereco,produto)
    VALUES ('Peixaria Abril','Rua dos leites, 26','Peixe')
   
'''
sql3 = '''
INSERT INTO Fornecedor (nome,endereco,produto)
    VALUES ('Açougue Legal','Rua das Carnes, 30','Carne')
   
'''
sql4 = '''
INSERT INTO Fornecedor (nome,endereco,produto)
    VALUES ('Açougue Novo','Rua das Carnes, 50','Carne')
   
'''
sql5 = '''
INSERT INTO fornecedor(nome,endereco,produto)
    VALUES('Padaria do Pão','Rua dos Padeiros, 09','Pão')
'''

sql6 = '''
INSERT INTO Fornecedor(nome,endereco,produto)
    VALUES('Marcenaria Martelo','Rua dos Martelos, 111','Martelo')
'''
sql7 = '''
UPDATE Fornecedor SET endereco = 'Rua dos Peixes, 26' WHERE id = 2
'''

sql8 = '''
SELECT * FROM Fornecedor
'''
sql9 = '''
SELECT * FROM Fornecedor WHERE produto = 'Carne'
'''

sql10 = '''
DELETE FROM fornecedor WHERE id = 1
'''
cursor.execute(sql)
print('1 TEST EXECUTED WITH SUCESSFFULY')
cursor.execute(sql1)
print('2 TEST EXECUTED WITH SUCESSFFULY')
cursor.execute(sql2)
print('3 TEST EXECUTED WITH SUCESSFFULY')
cursor.execute(sql3)
print('4 TEST EXECUTED WITH SUCESSFFULY')
cursor.execute(sql4)
print('5 TEST EXECUTED WITH SUCESSFFULY')
cursor.execute(sql5)
print('6 TEST EXECUTED WITH SUCESSFFULY')
cursor.execute(sql6)
print('7 TEST EXECUTED WITH SUCESSFFULY')
cursor.execute(sql7)
print('8 TEST EXECUTED WITH SUCESSFFULY')
cursor.execute(sql8)
print('9 TEST EXECUTED WITH SUCESSFFULY')
cursor.execute(sql9)
print('10 TEST EXECUTED WITH SUCESSFFULY')
cursor.execute(sql10)
print('11 TEST EXECUTED WITH SUCESSFFULY')

conexao.commit()
conexao.close()

1 TEST EXECUTED WITH SUCESSFFULY
2 TEST EXECUTED WITH SUCESSFFULY
3 TEST EXECUTED WITH SUCESSFFULY
4 TEST EXECUTED WITH SUCESSFFULY
5 TEST EXECUTED WITH SUCESSFFULY
6 TEST EXECUTED WITH SUCESSFFULY
7 TEST EXECUTED WITH SUCESSFFULY
8 TEST EXECUTED WITH SUCESSFFULY
9 TEST EXECUTED WITH SUCESSFFULY
10 TEST EXECUTED WITH SUCESSFFULY
11 TEST EXECUTED WITH SUCESSFFULY